/* Default styles */
.add-container {
    width: 80%;
    margin: 20px auto;
    background-color: #3B3B3B;
    padding: 20px;
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.add-container h1 {
    color: #FFB800;
    text-align: center;
}

.add-container input[type="text"], 
.add-container input[type="url"],
.add-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-container textarea {
    height: 200px;
}

.add-container input[type="submit"] {
    background-color: #277229;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
}

.add-container input[type="submit"]:hover {
    background-color: #277229;
}

.image-upload-btn {
    background-color: #000000;
    color: #FFB800;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* Media Queries */

/* Tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .add-container {
        width: 60%;
    }
}

/* Mobile devices */
@media screen and (max-width: 767px) {
    .add-container {
        width: 90%;
    }
}