
.login-body {
    background-color: #000000;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h1 {
    color: #FFB800;
    text-align: center;
}
.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-container input[type="submit"] {
    background-color: #216125;
    color: white;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background-color: #3ea045;
}

#logout-button { 
    color: white;
    background-color: rgb(94, 94, 94);
    width: 300px;
    height: 37px;
    border-radius: 5px;
}

#logout-button:hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}

.login-container p {
    color: white;
}

.login-container a {
    color: rgb(253, 95, 95);
}