.postContainer {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.postContainer img {
    height: 300px;
    width: 80%;
    object-fit: cover;
    border: 3px solid #FFB800;
}

.postContainer button {
    color: #FFB800;
    background-color: black;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

.postContainer p {
    line-height: 20px;
}

.postContainer h2 {
    color: #FFB800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 500;
    font-weight: 900;
}

