@import url(./add.css);
@import url(./edit.css);
@import url(./posts.css);
@import url(./login.css);
@import url(./register.css);

:root {
    --black: #000;
    --gold: #FFB800;
    --gray: #3B3B3B;
    --green: #118B2C;
}

body {
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    min-width: 100%;
    font-family: 'Bruno Ace', 'Times New Roman', Tahoma, Verdana, sans-serif;
}

nav {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.logo {
    color: var(--gold);
    font-weight: 600;
    font-style: bold;
    font-size: 28px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0%;
    font-size: 20px;
}

ul li {
    margin-right: 20px;
    cursor: pointer;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav li {
    color: var(--gold)
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    left: 34px;
    top: 321px;
    margin-bottom: 20px;
}

.grid-item {
    text-align: center;
}

.grid-container img {
    max-width: 100%;
    width: 144px;
    height: 144px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(5px 8px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.grid-container a {
    text-decoration: none;
    color: black;
}

.grid-container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin: 0%;
    color: #FFFFFF;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: auto; 
}

footer div {
    display: inline-block;
    margin-right: 20px;
}

footer a {
    color: white;
}

footer div:last-child {
    margin-right: 0;
}


.carusel-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.carousel-container, h1 {
    color: var(--gold);
}

.carousel-container, img {
    cursor: pointer;
    width: 200px; 
    height: 200px; 
    border-radius: 10px;
    object-fit: cover; 
    display: block; 
    margin: 0 auto; 
}

.post-container {
    background-color: var(--black);
    border: 2px solid var(--gold);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.post-container, h2 {
    cursor: pointer;
    padding-top: 10px;
}
.post-container img {
    width: 300px;
    height: 300px;
}

.post-container, p {
    color: white;
}

.carusel-btn {
    background-color: var(--black);
    color: var(--gold);
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
    width: 100px; 
    text-align: center; 
    display: inline-block;
}

.h2-all-posts {
    padding-top: 20px;
    text-align: center;
    color: var(--gold);
}

@media only screen and (max-width: 600px) {
    nav {
        height: 60px;
        font-size: 18px;
    }

    .logo {
        font-size: 22px;
    }

    ul {
        font-size: 16px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }

    .grid-container img {
        width: 200px;
        height: 200px;
    }

    .grid-container h2 {
        font-size: 12px;
        line-height: 15px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer div {
        margin: 10px 0;
    }

    .carusel-container {
        max-width: 100%;
    }
}

/* For screens larger than 600px (tablets and desktops) */
@media only screen and (min-width: 601px) {
    nav {
        height: 80px;
        font-size: 24px;
    }

    .logo {
        font-size: 28px;
    }

    ul {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 0.5fr);
        grid-gap: 20px;
        padding: 20px;
    }

    .grid-container img {
        width: 144px;
        height: 144px;
    }

    .grid-container h2 {
        font-size: 15px;
        line-height: 18px;
    }
}

@media only screen and (min-width: 1050px) {
    nav {
        height: 80px;
        font-size: 24px;
    }

    .logo {
        font-size: 28px;
    }

    ul {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 0.5fr);
        grid-gap: 40px;
        padding: 40px;
    }

    .grid-container img {
        width: 300px;
        height: 300px;
    }

    .grid-container h2 {
        font-size: 18px;
        line-height: 18px;
    }

    .post-container img {
        width: 400px;
        height: 400px;
    }

}
